/* overall rearrangement of the order of flow */
* {
    padding: 0;
    margin: 0;
}
/* font family, background in body */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9dcd6;
}

/*Logo text and banner specification*/
header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Horiseon logo location*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Colour for "seo" part in the logo*/
.header h1 .seo {
    color: #d9dcd6;
}

/* Navigation bar specification */ /* removed .header with nav, fixed margin, background color, padding, float to match header banner*/
nav {
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: right;
    font-size: 20px;
    background-color: #2a607c;
}

/* Navigation link specification */
nav li {
    display: inline-block;
    margin-left: 25px;
}

/*Link text colour*/
nav a {
    color: #ffffff;
    text-decoration: none;
}

/* Home image marketing boardroom specification */ /*changed hero to make bit more sense, removed height since its responsive, remove margin, remove background size,    */
.home-img {
    width: 100%;
}

/* Benefits specification */ /*remove margin, float, width, height, background, added flex, add width, display, box sizing, add flex direction */
.benefits {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*padding: 20px;*/
    clear: both;
    text-align: center;
}

/* benefits header specification */ /*grouped all the headers class benefits*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* benefits img specification */ /*grouped all the img to class benefits remove max width*/
.benefits img {
    display: block;
    margin: auto;
    width: 30%;
}

/* Padding for benefits paragraph */
.benefits p {
    padding: 0% 25%;
}

/*Content blocks*/ /* remove display inline block, remove margin */
.content {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

/*Content img specification*/ /*grouped img into dev class content*/
.content img {
    width: 35%;
}

/*Content header specification*/ /*grouped content into dev class content*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Content specification */ /*Group all the content section*/
#search-engine-optimization,
#online-reputation-management,
#social-media-marketing {
    flex: 1;
    padding: 50px;
    background-color: #0072bb;
    color: #ffffff;
    
    
    
    /*margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: white;*/
}

/* Footer specification */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* Changes for when screen resolution changes */
@media screen and (max-width: 768px){
    .benefits {
        flex-direction: column;
    }
}